<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>HelmSmart Dashboards List</title>
	<meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="viewport" content = "width = device-width, initial-scale = 1, user-scalable = no" />
	<meta http-equiv="cache-control" content="no-store" />
	<meta http-equiv="cache-control" content="no-cache" />
	<meta http-equiv="expires" content="0" />	
	
  <!--  <link href="css/freeboard.min.css" rel="stylesheet" /> -->
  <!--  <script src="js/freeboard.thirdparty.min.js"></script> -->
  
  
    
   
  
	
<link href="{{ url_for('static', filename='css/freeboard.min.css') }}" rel="stylesheet" type="text/css" />
<!-- <script type="text/javascript" src="{{ url_for('static', filename='js/freeboard.thirdparty.min.js') }}"></script> -->
<script type="text/javascript" src="{{ url_for('static', filename='js/freeboard.thirdparty.js') }}"></script>


	
    <script type="text/javascript">
	
     head.js(
		//"js/freeboard_plugins.min.js",             // *** Load more plugins here ***
                function(){
                    $(function()
                    { //DOM Ready

						

                    });
                });
				
function handlegetDashboardJSON(response)
{

mydata = response;

	freeboard.loadDashboard(mydata, function() {
        freeboard.setEditing(false);
		 });

}		

function getDashboardJSON(prefuid)
{
/*
        $.blockUI({ 
     message: '<h1>Search in progress...</h1>',    
     css: {             
     border: 'none',             
     padding: '15px',             
     backgroundColor: '#000', 
        
     '-webkit-border-radius': '10px',             
     '-moz-border-radius': '10px',             
     opacity: .5,             
     color: '#fff'         
     } }); 
*/

	var devicedataurl;
	
    devicedataurl = "https://helmsmart-freeboard.herokuapp.com/freeboard_getdashboardjson?prefuid=" + prefuid;

    return $.ajax({
    //async: false,
    cache: false,
    url: devicedataurl,
    dataType: "json",
    timeout: 30000,
    statusCode: {
    404: function() {      alert( "page not found" );    },
    200: function() {      }
    },
    success: function(response) {
    handlegetDashboardJSON(response)
    },
    complete: function() {
    // unblock when remote call returns
    // document.getElementById("SearchStatus").innerHTML = "Search Complete";
    //   ShowGraphSmartChart(gindex);
		console.log('completed');
    //$.unblockUI();
    },
    error: function(request,status,errorThrown) {
	
	console.log(status);
	console.log(errorThrown);
    //document.getElementById("SearchStatus").innerHTML = "Search Error";
    //$.unblockUI();
    }
    });


}				
				
    </script>
</head>
<body>
<div>
  <center>
  {% if session['userid'] %}
     <a href="https://helmsmart-freeboard.herokuapp.com/dashboard" id="login" class="persona-button">
    <span>HelmSmart: {{session['username']}}</span></a>
  {% else %}
    <a href="https://helmsmart-freeboard.herokuapp.com/dashboard" id="login" class="persona-button">
      <span>HelmSmart: Guest</span></a>
  {% endif %}
  </center>
</div>

<div id="board-content">
    <img id="dash-logo" data-bind="attr:{src: header_image}, visible:header_image()">
    <div class="gridster responsive-column-width">
        <ul data-bind="grid: true">
        </ul>
    </div>
</div>


<div class="page">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div id="header">
					<div class="page-header">
						<form method="post" action="/board/new" class="form-inline pull-right">
							<div class="input-group"><input id="freeboardName" name="freeboardName" type="text" placeholder="enter a name" class="form-control">
								<button id="create-new-btn" type="submit" class="btn btn-primary btn-add">Create New</button>
							</div>
						</form>
						<h1>My Freeboards</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
	


<div >
</div>

<center>
		<table>
		<tr>
          <td  align="center" >
		  <a href="http://www.helmsmart.com">
		  <img alt="" class="auto-style19" height="50" src="/static/img/helmsmart_logo_small.jpg" width="200"></a>
		  </td>
		   <td  align="center" >
		  <a href="https://helmsmart-freeboard.herokuapp.com">
		  <img alt="" class="auto-style19" height="50" src="/static/img/freeboard_logo_small.jpg" width="200"></a></td>
        </tr>
		<tr><td colspan=2 align="center"> www.netgauges.net www.helmsmart.com www.seasmart.net www.chetcodigital.com </td></tr>
				<tr><td colspan=2 align="center"> copyright 2017 </td></tr>
		</table>
		<center>

</body>
</html>
